{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block description %}
    {{ page.description }}
{% endblock description %}

{% block title %}
    {{ page.title }} — {{ super() }}
{% endblock title %}

{% block content %}
    <section class="article-container">
        <h1 class="article-container__title">{{ page.title }}</h1>
        {{ macros::post_meta(page=page) }}

        <article class="article-container__content">
            {{ page.content | safe }}
        </article>
    </section>
{% endblock content %}
